@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --primary-color: #FFFFFF;
  --secondary-color: #000000;
  --text-primary-color: #333333;
  --text-secondary-color: #FFFFFF;
  --accent-color: #53b968;
  --body-font: "Google Sans";
  --heading-font: "inter";
}

html, body {
  box-sizing: border-box;
  margin: 0;
  font-family: var(--body-font);
}

#header {
  background-color: var(--primary-color);
  color: var(--text-primary-color);
  min-height: 70px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
  text-decoration: none;
}

#headerMain {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.headerMainChild {
  padding: 5px 20px;
}

#headerMainRight {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

#headerMainLeft {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.sliderContainer {
  width: 100vw; /* The viewport width */
  height: 80vh;
  overflow: hidden; /* Hide the slides outside the view */
  position: relative;
}

.sliderAnimation {
  display: flex;
  /* Duration relative to slide count for consistent speed */
  animation: slideLeft calc(var(--slide-count) * 5s) linear infinite; 
}

.slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-shrink: 0; /* Prevent slides from squishing */
  width: 100vw;
  height: 80vh;
  background-size: cover;
  background-position: center;
}

.slideHeading {
  color: var(--text-secondary-color);
  margin-bottom: 0px;
}

.slideSubHeading {
  color: var(--text-secondary-color);
}

.slideCtaBtn {
  color: var(--text-secondary-color);
  background: var(--accent-color);
  padding: 10px 16px;
  min-width: 175px;
  border: none;
  border-radius: 50px;
  text-transform: uppercase;
}

@keyframes slideLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    /* Moves the entire row left by (Total Slides - 1) * 100vw */
    /* Or 100% if you are looping seamlessly */
    transform: translateX(calc(-100vw * (var(--slide-count) - 1)));
  }
}